main {
    position: relative;
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    top: 8%;
    left: 55%;

}
form {
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    width: 300px;
    height: 350px;
    margin: 10px;
    border: 1px solid #fff;
}
label {
    font-size: 20px;
    width: 400px;
    height: 60px;
}

input {
    font-size: 15px;
    padding:3px;
    width: 270px;
    height: 30px;
    margin:10px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 將邊框改為透明灰色 */
}
input::placeholder {
    color: rgba(0, 0, 0, 0.3); /* 將顏色設置為透明灰色 */
}
button {
    background-color: #f2816c;
    color: white;
    padding:10px;
    margin:10px;
    width:270px;
    height:50px;
    font-size: 15px;
    border-color: white;
    border-radius: 5px;
}
#enter{
    font-size: 20px;
}
.form-group a {
    text-decoration: none; /* 取消下劃線 */
    color: #0055a9; /* 修改文字顏色 */
    font-size: 13px;
}
.form-container img {
    margin:15px;
    width: 270px;
    height: auto;
    object-position: center;
}
.sms-login {
    position: absolute;
    top: 253px;
    right: 40px; /* 修改右側距離 */
}

